@use "tailwindcss";
@use "primeicons/primeicons.css";

@theme {
  --color-primary: var(--p-primary-color);
  --color-primary-50: var(--p-primary-50);
  --color-primary-100: var(--p-primary-100);

  --color-surface-0: var(--p-surface-0);
  --color-surface-50: var(--p-surface-50);
  --color-surface-100: var(--p-surface-100);
  --color-surface-200: var(--p-surface-200);

  --color-muted: var(--p-text-muted-color);
  --color-content: var(--p-text-color);
}